stages:
  - test
  - build
  - release

variables:
  NODE_ENV: production

image: node:22

cache:
  paths:
    - node_modules/

install:
  stage: '.pre'
  script:
    - npm ci

lint:
  stage: test
  script:
    - npm run lint

test:
  stage: test
  script:
    - npm run test
  coverage: /All files[^|]*|[^|]*\s+([\d\.]+)/
  artifacts:
    expire_in: "30 days"
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml

build:
  stage: build
  script:
    - npm run build
  needs:
    - test
    - lint
  artifacts:
    expire_in: "30 days"
    paths:
      - dist/

release:
  stage: release
  script:
    - npx semantic-release
  needs:
    - build
  artifacts:
    expire_in: "30 days"
    paths:
      - dist/
  only:
    - main
